@charset "utf-8";

.header:after{height: 100%;background: #920f15;opacity: 1;}
.header .navbtn{background: #2c262d59;}

@media screen and (max-width:992px){
}

@font-face { font-family: 'Helvetica-Condensed-Black-Se'; src: url("../fonts/CANELA-REGULAR-REDUCED.WOFF.TTF"); }
@font-face { font-family: 'DIN'; src: url("../fonts/DINNEXTFOR_HUAWEI.TTF"); }
@font-face { font-family: 'Canela Web'; src: url("../fonts/canela.ttf"); }	

@font-face {
    font-family: "思源宋体 Regular";font-weight: 400;src: url("../fonts/UKQlc34sfYIo.woff2") format("woff2"),
    url("../fonts/UKQlc34sfYIo.woff") format("woff");
    font-display: swap;
  }

.w100{ width: 100%;}
.wp{max-width: 16rem;margin: 0 auto;width:94%}

.l1{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;line-height:1.25}
.l2{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.l3{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.l4{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical}
.l5{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:5;-webkit-box-orient:vertical}
.l6{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:6;-webkit-box-orient:vertical}
.l7{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:7;-webkit-box-orient:vertical}

.h4s1{font-size: .18rem;color: #363a3f;line-height: .3rem; transition: .5s;width: 100%; -webkit-transition: all 0.5s;transition: all 0.5s;}
.h4s2{font-size: .18rem;color: #363a3f;line-height: .3rem;max-height: .6rem\0;width: 100%; -webkit-transition: all 0.5s;transition: all 0.5s;}
.h4s3{font-size: .18rem;color: #363a3f;line-height: .3rem;max-height: .9rem\0;width: 100%; -webkit-transition: all 0.5s;transition: all 0.5s;}
.h6s1{font-size: .16rem;color: #baa299;line-height: 1.25;width: 100%;-webkit-transition: all 0.5s;transition: all 0.5s;font-family: 'Canela Web';}
.ps1{font-size: .16rem;color: rgba(102, 102, 102, 0.66);line-height: .26rem;width: 100%; -webkit-transition: all 0.5s;transition: all 0.5s;}
.ps2{font-size: .16rem;color: rgba(102, 102, 102, 0.66);line-height: .26rem;max-height: .52rem\0;width: 100%;-webkit-transition: all 0.5s;transition: all 0.5s;}
.ps3{font-size: .16rem;color: rgba(102, 102, 102, 0.66);;line-height: .26rem;max-height: .78rem\0; width: 100%; -webkit-transition: all 0.5s;transition: all 0.5s;}
h4, h5, h6{ font-weight: normal}
.bd_li{ transition: .5s;}

/*首页开始*/
.banner_box{margin: 1.2rem 0 0;position: relative;z-index: 3;overflow: hidden;}
.banner{ overflow: hidden; }

.banner .a{ display: block; position: relative; z-index: 1; overflow: hidden; }
.banner .imgBox{ overflow: hidden; width: 100%; transform: scale(1);}
.banner .imgBox .img{padding-bottom: calc(100vh - 1.2rem);transition: 0s;transform: scale(1) !important;}
.banner .imgBox .img video{ position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}
.banner.on ul li.swiper-slide-active .a .imgBox, .banner.on ul li.swiper-slide-duplicate-active .a .imgBox, .banner.on ul li.swiper-slide-prev .a .imgBox{ animation: sca 6s linear 0s normal both;}
@keyframes sca {
    0% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}

.banner .bottom{ position: absolute; right: 0; bottom: .3rem; left: 0; z-index: 2;}
.banner .bottom .wp{justify-content: flex-end;display: flex;align-items: center;}
.gengduo{margin: 0 0 0 .4rem;background: #9b0d14;width: .66rem;height: .32rem;display: flex;justify-content: center;align-items: center;border-radius: 50vw;font-size: .14rem;color: #fff !important;}

.jindu{width: 4rem;align-items: center;margin: 0 0 0 .6rem;font-size: .24rem;color: #fff;}
.jindu .num0{ font-family: 'DIN';}
.jindu .banner-pro{flex: 1;overflow: hidden;margin: 0 .2rem;height: 2px;background: rgba(255,255,255,.2); position: relative}
.jindu .banner-pro::after{ content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #fff;}
.jindu .banner-pro.ani:after{-webkit-animation-name: anil;animation-name: anil;-webkit-animation-duration: 7s;animation-duration: 7s;-webkit-animation-timing-function: linear;animation-timing-function: linear;width: 100%;}

@-webkit-keyframes anil{0%{width:0}100%{width:100%}}
@keyframes anil{0%{width:0}100%{width:100%}}


.arrow1 .arrow{width: .5rem;height: .5rem;position: relative;z-index: 1;font-size: .22rem;color: #fff;display: flex;justify-content: center;align-items: center;cursor: pointer;}
.arrow1 .arrow::after{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;border: #fff 1px solid;border-radius: 50%;transition: .5s;}
.arrow1 .arrow:before{ transition: .5s}
.arrow1 .arrow.prev::after{ transform-origin: right}
.arrow1 .arrow.next{ margin-left: .1rem}
.arrow1 .arrow.next::after{ transform-origin: left}

.kuaijie{position: absolute;top: 0;bottom: 0;left: 0;width: 1.2rem;background: #920f15;z-index: 2;transform: translateX(-1.21rem);transition: 1s;}
.kuaijie ul::before{content: "";position: absolute;background: url(../images/kuaijie1.png) center no-repeat;width: .42rem;height: .46rem;background-size: cover;left: calc(100% - 1px);top: -1px;}
.kuaijie ul{height: 100%;position: relative;z-index: 2;}
.kuaijie li{ flex: 1; position: relative;}
.kuaijie li::before{ content: ""; position: absolute; background: url(../images/kuaijie.png) center no-repeat; background-size: 100% 100%; left: 0; width: 100%; height: .09rem; }
.kuaijie ul .a{height: 100%;align-items: center;}
.kuaijie ul h4{ font-size: .18rem; color: #fff !important; writing-mode: tb-rl; font-weight: bold}
.kuaijie ul img{ height: .28rem; margin: 0 0 .1rem 0}

.kuaijie .ico{position: absolute;top: 0;bottom: 0;left: 1.2rem;width: .9rem;align-items: center;z-index: 1;cursor: pointer;transition: .5s;}
.kuaijie .ico:before{content: "";position: absolute;width: 15vw;bottom: 0;left: 0;background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);z-index: 1;height: 100%;z-index: -1;}
.kuaijie .ico h4{ font-size: .2rem; color: #fff !important; writing-mode: tb-rl; }
.kuaijie .ico img{height: .51rem;margin: 0 0 .1rem 0}
.kuaijie li:nth-child(1)::before{ display: none}

.kuaijie.on{ transform: translateX(0);}
.kuaijie.on .ico{ opacity: 0}

.pad1{ padding: .7rem 0; overflow: hidden;}

.lBox{position: absolute;right: 0;bottom: 0;left: 0;z-index: -1;height: 100%;align-items: flex-end;}
.lBox .box0{flex: 1;height: 100%;border-right: #f5f5f5 1px solid;background: #fff;transition: 1.2s .2s;transform-origin: bottom;}

.more1{background: url(../images/more1.png) center no-repeat;background-size: 100% 100% !important;width: 2.01rem;height: .41rem;font-size: .2rem;color: #af9287;font-family: 'sys';align-items: center;transition: .5s;}

.tit1{align-items: center;margin-bottom: .36rem;position: relative;z-index: 2;}
.tit1 .ll img{height: .75rem;}

.home1-2{background: url(../images/h1-2_b1.jpg) center bottom no-repeat;background-size: cover;position: relative;z-index: 1;}
.home1 .left{width: 9.8rem;}
.home1 .right{width: calc(100% - 9.8rem - .5rem);margin: -.1rem 0 0;}
.home1 .right .top{align-items: center;justify-content: center;position: relative;z-index: 2;}
.home1 .right .top .a{display: flex;width: 2.88rem;height: .45rem;background: #981b1e;align-items: center;justify-content: center;font-size: .24rem;color: #ebd1a5;font-weight: bold;}

.lt2s{background: #fffcf7;padding: .22rem .25rem .05rem;margin: -.22rem 0 0rem;height: 1rem;display: flex;align-items: center;}
.lt2s li{ width: 100%}
.lt2s h4{font-size: .19rem;color: #981b1e;font-weight: bold;}

.lt1{ margin: 0 0 .35rem;}
.lt1 .a{ display: block; position: relative;}
.lt1 .time{ position: absolute; top: 0; left: 0; width: 1.1rem; height: 1.04rem; background: url(../images/lt1_b.png) center no-repeat; background-size: cover; padding: 0 0 .1rem;}
.lt1 .time{ flex-direction: column; justify-content: center; align-items: center;}
.lt1 .time h3{font-size: .38rem;color: #ebd1a5;font-family: 'Canela Web';font-weight: normal;}
.lt1 .time h6{font-size: .14rem;color: #ebd1a5;font-family: 'Canela Web';}
.lt1 .imgBox .img{}
.lt1 .imgBox:after{content: "";position: absolute;right: 0;bottom: 0;left: 0;background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);z-index: 1;height: 14vh;}
.lt1 .txt{position: absolute;right: 0;bottom: 0;left: 0;padding: 2vw .35rem .2rem; align-items: center}
.lt1 h4{ color: #fff !important; font-size: .24rem; flex: 1}

.lt1 .dots{ margin: .15rem 0 0; width: auto; margin: 0 0 0 .2rem}
.lt1 .dots span{width: .08rem;height: .08rem;background: #dcd1ca;opacity: 1; margin: 0 .05rem !important; transition: .5s;}
.lt1 .dots span.active{ background: #fff;}

.lt2 li{ width: calc(50% - .175rem);}
.lt2 .a{ display: flex; flex-direction: column; transition: .5s;}
.lt2 .imgBox{ order: 1;}
.lt2 .imgBox .img{padding-bottom: 60%;}
.lt2 .txt{height: 1.78rem;background: #fffcf7;padding: .35rem .3rem 0;width: 100%;transition: .5s;}
.lt2 h6{margin: .18rem 0 0;}

.center .lt2 li{ width: 100%;}
.center .lt2 .imgBox{ order: -1;}
.center .lt2 .txt{height: 1.5rem; padding: .25rem .3rem 0;}
.center .lt2 li:last-child{ margin: .35rem 0 0;}
.center .lt2 li:last-child .txt{height: 1.2rem;}
.center .lt2 li:last-child .imgBox .img{padding-bottom: 60%;}
.center .lt2 li:last-child .txt h4{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.lt3{transition: .5s;position: relative;height: 5.4rem;overflow: hidden;margin: 0;}
.lt3 li{transition: .5s;position: relative;}
.lt3 li:before{ content: ""; position: absolute; border-bottom: #d8cfc6 1px solid; bottom: 0; height: 0; right: 0; left: 0;transition: .5s;}
.lt3 .a{min-height: .8rem;/* align-items: center; */padding: 0;}
.lt3 h4{flex: 1;white-space: normal; /*line-height: .8rem */ display: flex;  align-items: center;}
.lt3 h6{width: auto;margin: 0 0 0 .1rem;line-height: .8rem;}

.lt3 li.active .a{/* min-height: 1.2rem; */}
.lt3 li.active:last-child .a{padding: 0;align-items: flex-start;}
.lt3 li.active:last-child .a h4{line-height: .8rem;}
.lt3 li.active:last-child .a h6{ line-height: .8rem;}
.a:hover h4{ color: #920f15;}

.home2 .left{ width: 11.86rem;}

.lt4{ margin: 0 -.38rem;}
.lt4 li{ width: 50%; padding: 0 .38rem;}
.lt4 .a{ padding: .3rem 0; border-bottom: rgba(186,162,153,.33) 1px solid; align-items: center; position: relative;}
.lt4 .a::after{content: "";position: absolute; left: 0;bottom: -1px;width: 0;transition: .5s;background: #920f15;height: 1px;}
.lt4 .ico{width: 1.36rem;height: .72rem;margin: 0 .2rem 0 0;position: relative;/*background: #fff;*/display: flex;justify-content: center;align-items: center;}
.lt4 .ico img{max-width: 100%;transform: scale(.7);object-fit: contain;display: block;}
.lt4 .ico:after{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;/* border: #baa299 1px solid; */}
.lt4 .txt{ flex: 1; overflow: hidden}
.lt4 h6{ margin: .08rem 0 0}

.lt4 li:nth-child(5) .a, .lt4 li:nth-child(6) .a{ border: none}

.lt17{ padding: 0 0 .2rem}
.dots1{ margin: .15rem 0 0}
.dots1 span{width: .08rem;height: .08rem;background: #dcd1ca;opacity: 1; margin: 0 .05rem !important; transition: .5s;}
.dots1 span.active{ background: #920f15;}

.tit2{margin-bottom: .25rem;align-items: center;}
.tit2 .ll{ font-size: .32rem; color: #920f15; font-family: 'sys';}
.tit2 .ll img{ height: .48rem; margin: 0 .12rem 0 0;}

.more2{background: url(../images/more2.png) center no-repeat;background-size: 100% 100% !important;width: 1.84rem;height: .41rem;font-size: .2rem;color: #af9287;font-family: 'sys';align-items: center;transition: .5s;}



.home2{ padding-bottom: 2.18rem}
.home1-2 .lBox{ height: 1.5rem}
.home1-2 .lBox .box0{height: 0;}

.home1-2 .lBox.aos-animate .box0:nth-child(1){ height: 100%; transition-delay: .25s;}
.home1-2 .lBox.aos-animate .box0:nth-child(2){ height: 50%; transition-delay: .36s;}
.home1-2 .lBox.aos-animate .box0:nth-child(3){ height: 25%; transition-delay: .4s;}
.home1-2 .lBox.aos-animate .box0:nth-child(4){ height: 50%; transition-delay: .5s;}
.home1-2 .lBox.aos-animate .box0:nth-child(5){ height: 80%; transition-delay: .2s;}
.home1-2 .lBox.aos-animate .box0:nth-child(6){ height: 50%; transition-delay: .5s;}
.home1-2 .lBox.aos-animate .box0:nth-child(7){ height: 25%; transition-delay: .15s;}
.home1-2 .lBox.aos-animate .box0:nth-child(8){ height: 100%; transition-delay: .4s;}


.home3 .left{width: 10rem;}
.home3 .right{width: calc(100% - 10.6rem);position: relative;z-index: 2;}

.lt5 {margin: 0 -.15rem;}
.lt5 li{padding: 0 .15rem;width: 50%;}
.lt5 .a{display: block;position: relative;transition: .5s; z-index: 2;}}
.lt5 .imgBox .img{ padding-bottom: 62.55%;}
.lt5 .imgBox:after{content: "";position: absolute;right: 0;bottom: 0;left: 0;background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);z-index: 1;height: 23vh;}
.lt5 .txt{background: #fffcf7;padding: 0 .35rem;justify-content: center;flex-direction: column;height: 1.3rem;}
.lt5 h4{font-family: 'sys';min-height: .6rem;}
.lt5 h6{margin: .1rem 0 0;}

.lt5 li.swiper-slide-active .a{ opacity: 1}

.lt6 .a{height: .9rem;align-items: center;position: relative;z-index: 1;padding: 0 .3rem;}
.lt6 .a::before{content: "";position: absolute;background: url(../images/lt6.png) center no-repeat;top: 0;right: 0;bottom: 0;left: 0;z-index: -1;opacity: 0;transition: .5s;background-size: 100% 100%;}
.lt6 h4{ flex: 1;}
.lt6 h6{width: auto;color: #baa299;margin: 0 0 0 .2rem;}

.lt6 .a{background: #fff6ed;}
.lt6 li:nth-child(2n) .a{ background: #fffcf7}
.lt6 li.on .a::before{ opacity: 1;}
.lt6 li.on h4{ color: #fff;}

.home3{position: relative;z-index: 1;padding-top: 0 !important;}
.home3 .wp.flex{margin-bottom: .45rem;}

.lt7 .a{align-items: center;}
.lt7 .imgBox{width: 2.4rem;margin: 0 .2rem 0 0;}
.lt7 .txt{ flex: 1; overflow: hidden; padding-bottom: .1rem}
.lt7 h4{ height: .6rem;}

.lt7Box .dots1{ margin: .4rem 0 0;}

.home4{background: url(../images/home4.jpg) center bottom no-repeat;background-size: cover;padding-bottom: 0 !important;}
.home4 .wp1{ position: relative;}
.home4 .wp1::before{ content: ""; position: absolute; top: 0; bottom: 0; background: rgba(146,15,21,.12); left: 50%; width: 1px;}
.home4 .left{ width: calc(50% - .4rem);}
.home4 .right{ width: calc(50% - .4rem);}

.lt8 li{ margin-bottom: .19rem;}
.lt8 .a{position: relative;transition: .5s;}
.lt8 .time{width: 1.5rem;height: 1.5rem;border: rgba(146,15,21,.43) 1px solid;background: rgba(255,255,255,.43);align-items: center;margin: 0 .1rem 0 0;transition: .5s;}
.lt8 .time h3{font-size: .48rem;color: #920f15;font-family: 'Canela Web';font-weight: normal;transition: .5s;}
.lt8 .time h6{font-size: .2rem;color: #920f15;font-family: 'Canela Web';margin: .02rem 0 0;transition: .5s;}
.lt8 .txt{flex: 1;overflow: hidden;height: 1.5rem;border: rgba(146,15,21,.43) 1px solid;background: rgba(255,255,255,.43);display: flex;flex-direction: column;justify-content: center;padding: 0 .36rem;transition: .5s;}
.lt8 p{ margin: .1rem 0 0}
.lt8 .a::after{content: "";position: absolute;background: url(../images/lt8.png) center no-repeat;width: .33rem;height: .22rem;top: 44%;left: 1.37rem;z-index: 1; background-size: 100% 100% !important; transition: .5s}
.lt8 li:last-child{ margin-bottom: 0;}

.lt9 .imgBox{width: 3.8rem;}
.lt9 .imgBox .img{}
.lt9 .txt{ flex: 1; overflow: hidden; border: rgba(146,15,21,.43) 1px solid; background: rgba(255,255,255,.43); display: flex; flex-direction: column; justify-content: center; padding: 0 .36rem;}
.lt9 p{ margin: .1rem 0 .18rem;}
.lt9 .bottom{ align-items: center;}
.lt9 h6{ width: auto;}
.lt9 .dots{ width: auto; margin: 0;}

.lt10{ margin: .3rem 0 0;}
.lt10 .a{height: .42rem;position: relative;z-index: 1;align-items: center;padding: 0 0 0 .2rem;}
.lt10 .a:before{ content: ""; position: absolute; width: .05rem; height: .05rem; background: #920f15; border-radius: 50%; left: 0}
.lt10 h4{ flex: 1;}
.lt10 h6{width: auto;color: #baa299;margin: 0 0 0 .2rem;}

.home4 .content{margin: .8rem 0 0;align-items: flex-end;}
.home4 .content .left{ width: 27.70%;}
.home4 .content .left img{ width: 110%; max-width: 110%}
.home4 .content .right{ width: calc(100% - 27.70%); padding-bottom: .28rem;}

.lt11{ margin: 0 -.12rem; align-items: center;}
.lt11 .a{ display: block; position: relative; z-index: 1;}
.lt11 li{ width: 16.66%; padding: 0 .12rem;}
.lt11 .imgBox .img{ padding-bottom: 179.71%;}
.lt11 .txt{position: absolute;top: 0;right: 0;bottom: 0;left: 0;padding: .3rem .15rem 0 .28rem;justify-content: space-between;}
.lt11 h3{writing-mode: tb-rl;font-size: .28rem;color: #fff;font-family: 'sys';align-self: flex-start;}
.lt11 .more{writing-mode: tb-rl;font-size: .16rem;color: #fff;font-family: 'sys';align-self: flex-end;padding-bottom: 1.18rem;position: absolute;bottom: 0;}
.lt11 .more:before{content: "";position: absolute;bottom: 0;top: .45rem;left: 50%;width: 1px;background: rgba(255,255,255,.6);}

.lt11 li:nth-child(2) .imgBox .img{ padding-bottom: 232.07%;}
.lt11 li:nth-child(2) .a{ transform: translateY(-.26rem);}
.lt11 li:nth-child(4) .a, .lt11 li:nth-child(6) .a{ transform: translateY(-.66rem);}

.home5{background: url(../images/home5_b.jpg) center top no-repeat;background-size: cover;padding: 1rem 0 2.95rem;position: relative;z-index: 1;}
.home5 .tit1{ margin-bottom: .6rem;}
.home5 .tit2{ margin-bottom: .5rem;}
.home5 .tit2 .ll{ margin: 0 4.5vw 0 0;}

.lt12{ width: 8.62rem; max-width: 100%;}
.lt12 li{font-size: .28rem;color: #333333;font-family: "思源宋体 Regular";padding: .12rem 0;}

.home5 .lBox{ height: 1.5rem}
.home5 .lBox .box0{height: 0;}

.home5 .lBox.aos-animate .box0:nth-child(1){ height: 100%; transition-delay: .25s;}
.home5 .lBox.aos-animate .box0:nth-child(2){ height: 50%; transition-delay: .36s;}
.home5 .lBox.aos-animate .box0:nth-child(3){ height: 25%; transition-delay: .4s;}
.home5 .lBox.aos-animate .box0:nth-child(4){ height: 50%; transition-delay: .5s;}
.home5 .lBox.aos-animate .box0:nth-child(5){ height: 80%; transition-delay: .2s;}
.home5 .lBox.aos-animate .box0:nth-child(6){ height: 50%; transition-delay: .5s;}
.home5 .lBox.aos-animate .box0:nth-child(7){ height: 25%; transition-delay: .15s;}
.home5 .lBox.aos-animate .box0:nth-child(8){ height: 100%; transition-delay: .4s;}

.home6{padding-top: 0 !important;}

.lt13W{margin: 0;}
.lt13Box{overflow: visible;max-width: 100%;}
.lt13Box .dots1{ margin: .76rem 0 0;}
.lt13 .a{ display: block; position: relative; transition: .5s;}
.lt13 .a:after{ content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; transition: .5s;}
.lt13 .imgBox:after{content: "";position: absolute;right: 0;bottom: 0;left: 0;background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);z-index: 1;height: 23vh;}
.lt13 .txt{position: absolute;right: .1rem;bottom: 0;left: 0;z-index: 1;}

.lt13 li.swiper-slide-active .a:after{ opacity: 0;visibility: hidden;}

.lt8 .a:hover{ box-shadow: 0px 11px 14px 0px rgba(97, 7, 11, 0.26);}
.lt8 .a:hover .time, .lt8 .a:hover .txt{ background: #920f15}
.lt8 .a:hover *{ color: #ebd1a5}
.lt8 .a:hover p{color: #ebd1a5;opacity: .66}

.lt13 .txt{ align-items: center}
.lt13 .time{background: url(../images/lt13.jpg) center no-repeat;background-size: 100% 100%;width: 1.66rem;height: .84rem;align-items: center;font-size: .2rem;color: #ebd1a5;font-family: 'Canela Web';margin: 0 .3rem 0 0}
.lt13 h4{flex: 1;font-size: .2rem;color: #fff !important;line-height: .6rem;text-align: center;}

.home7-8{background: url(../images/home7-8.jpg) center no-repeat;background-size: cover;}

.home7 .left{width: 24%;order: 2;}
.home7 .center{width: 49%;order: 1;}
.home7 .right{width: 25%;}

.xinmeiti{position: relative;z-index: 2;width: 1.3rem;}
.xinmeiti h4{font-size: .3rem;color: #900000;font-family: 'sys';line-height: 1.05;text-align: center; margin-bottom: .3rem}

.lt14{/* flex-direction: row; */flex-wrap: wrap;align-items: center;}
.lt14 li{position:relative;margin-bottom: .1rem;width: .5rem;margin: 0 0 0 .15rem;}
.lt14 li .ewm{position: absolute;left: 50%;top: calc(100% + .2rem);background: #fff;border-radius: .1rem;padding: .04rem;width: 160px;transform: translateX(-50%);opacity: 0;visibility: hidden;transition: .5s;z-index: 1;}
.lt14 li .ewm img{ width: 100%}

.lt14 li:hover .ewm{ opacity: 1; visibility: visible}

.home7 .left .top1{ align-items: flex-start}
.home7 .left .lt15Box{ flex: 1; overflow: hidden;}

.lt15 .a{ display: block; position: relative;}
.lt15 .imgBox:after{content: "";position: absolute;right: 0;bottom: 0;left: 0;background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);z-index: 1;height: 23vh;}
.lt15 .txt{position: absolute;right: 0;bottom: 0;left: 0;padding: .15rem .2rem;align-items: flex-end;z-index: 2;}
.lt15 .ll{ flex: 1; overflow: hidden}
.lt15 .ll img{ width: .33rem; margin: 0 0 .1rem}
.lt15 h4{color: #fff !important;}
.lt15 h6{width: auto;color: #fff;margin: 0 .2rem; line-height: 1.5}

.lt15.flex{margin: .8vw 0 0;}
.lt15.flex li{width: calc(50% - .4vw);}
.lt15 .imgBox .img{padding-bottom: 55.9%;}

.lt15.flex .imgBox .img{padding-bottom: 53.5%;}

.left .lt15 li:nth-child(1) .imgBox .img{padding-bottom: 114%;}
.left .lt15 li:nth-child(2){margin-top: .8vw;}
.left .lt15 li:nth-child(2) .imgBox .img{padding-bottom: 53.5%;}

.lt16 .a{ display: block; position: relative;}
.lt16 .imgBox .img{padding-bottom: 164.70%;}
.lt16 .txt{ position: absolute; top: 0; right: 0; left: 0; padding: 13% .15rem 0; text-align: center;}
.lt16 .txt .tit2 .ll{ color: #fff;}

.lt17 .imgBox .img{ padding-bottom: 140.75%}
.lt17 .txt{ position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.lt17 .txt{position: absolute;top: 0;right: 0;bottom: 0;left: 0;padding: .3rem .15rem 5% .32rem;}
.lt17 h4{writing-mode: tb-rl;font-size: .26rem;color: #fff !important;font-family: 'sys';align-self: flex-start;writing-mode: tb-rl \0;}


.home8{ padding-bottom: 1.2rem}

.lt7sBox{ margin-top: -.2rem}
.lt7sBox .dots{ margin: .25rem 0 0;}
.lt7s{ padding: .2rem 0;}
.lt7s li::before{content: "";position: absolute;right: 0;width: 1px;height: 100%;/* border-left: #920f15 1px dashed; */}
.lt7s .a{ display: block; padding: 0 .2rem 0 0;}
.lt7s h4{ margin: 0 0 .1rem}
.lt7s p{font-size: .16rem;color: #999;position: relative;padding: 0 0 0 .26rem;line-height: 1.5;margin-bottom: .08rem;}
.lt7s p::before{content: "";position: absolute;background-size: cover !important;width: .2rem;height: .2rem;top: 50%;left: 0;transform: translateY(-50%);}
.lt7s p.p1::before{background: url(../images/lt7s_i1.png) center no-repeat;}
.lt7s p.p2::before{background: url(../images/lt7s_i2.png) center no-repeat;}
.lt7s p.p3::before{background: url(../images/lt7s_i3.png) center no-repeat;}

.lt7s li.swiper-slide-active +li+li::before{ display: none;}

@media (min-width: 992px){
    .lt2 .a:hover{ box-shadow: -2.079px 9.781px 32px 0px rgba(78, 5, 1, 0.46);}
    .lt2 .a:hover .txt{ background: #920f15;}
    .lt2 .a:hover .txt *{ color: #fff;}

    .lt3 li:hover:before{border-bottom: #920f15 1px solid;}

    .lt4 .a:hover::after{ width: 100%;}

    .lt8 .a:hover::after{ background: url(../images/lt8s.png) center no-repeat;}

    .lt7 .a:hover .time{ background: url(../images/lt7s.svg) center no-repeat;}
    .lt7 .a:hover .time *{ color: #ebd1a5;}

    .arrow1 .arrow:hover:after{transform: scale(.6);}
    .arrow1 .arrow.prev:hover:before{ transform: translateX(-.08rem)}
    .arrow1 .arrow.next:hover:before{ transform: translateX(.08rem)}
}
@media (max-width: 1440px){
 .banner .imgBox .img{ padding-bottom: 42%;}
}
@media (max-width: 992px){
    .h4s1{font-size: .28rem !important;color: #363a3f;line-height: .4rem;transition: .5s;width: 100%;-webkit-transition: all 0.5s;transition: all 0.5s;}
    .h4s2{font-size: .28rem !important;color: #363a3f;line-height: .4rem;max-height: .8rem\0;width: 100%;-webkit-transition: all 0.5s;transition: all 0.5s;}
    .h4s3{font-size: .28rem !important;color: #363a3f;line-height: .4rem;max-height: .9rem\0;width: 100%; -webkit-transition: all 0.5s;transition: all 0.5s;}
    .h6s1{font-size: .24rem !important;color: #baa299;line-height: 1.25;width: 100%;-webkit-transition: all 0.5s;transition: all 0.5s;font-family: 'Canela Web';}
    .ps1{font-size: .24rem !important;color: rgba(102, 102, 102, 0.66);line-height: .36rem;width: 100%; -webkit-transition: all 0.5s;transition: all 0.5s;}
    .ps2{font-size: .24rem !important;color: rgba(102, 102, 102, 0.66);line-height: .36rem;max-height: .72rem\0;width: 100%;-webkit-transition: all 0.5s;transition: all 0.5s;}
    .ps3{font-size: .24rem !important;color: rgba(102, 102, 102, 0.66);;line-height: .36rem;max-height: .108rem\0; width: 100%; -webkit-transition: all 0.5s;transition: all 0.5s;}

    .header{padding: 0;height: 1.2rem;}
    .banner .imgBox .img{ padding-bottom: 42%;}

    .home1 .left{ width: 100%;}
    .home1 .right{ width: 100%;}
    .home1 .center{width: 100%;margin: .3rem 0;}
    .lt1 .txt{ padding: .3rem .35rem;}
    

    .lt2 .txt{ order: 2}
    .center .lt2 .txt{ height: 2rem}
    .home2 .left{ width: 100%;}
    .home2 .right{ width: 100%;}
    .lt4 li{ width: 100%;}
    .home2{padding-top: 0;padding-bottom: 1.5rem;}
    .lt4 .ico{width: 1.8rem;height: .8rem;}

    .home1-2 .lBox{ height: .75rem}
    .home1-2 .lBox .box0:nth-child(1){ height: 100%; transition-delay: .25s;}
    .home1-2 .lBox .box0:nth-child(2){ height: 50%; transition-delay: .36s;}
    .home1-2 .lBox .box0:nth-child(3){ height: 25%; transition-delay: .4s;}
    .home1-2 .lBox .box0:nth-child(4){ height: 50%; transition-delay: .5s;}
    .home1-2 .lBox .box0:nth-child(5){ height: 80%; transition-delay: .2s;}
    .home1-2 .lBox .box0:nth-child(6){ height: 50%; transition-delay: .5s;}
    .home1-2 .lBox .box0:nth-child(7){ height: 25%; transition-delay: .15s;}
    .home1-2 .lBox .box0:nth-child(8){ height: 100%; transition-delay: .4s;}
    
    .lt3{ height: auto}
    .lt3 li{ padding: .15rem 0}
    .lt3 h4{ line-height: 2.5}

    .lt3 li.active:last-child .a{ padding: .1rem 0; align-items: center}
    .lt3 li.active:last-child .a h4{ line-height: .4rem}

    .home3 .left{ width: 100%}
    .home3 .right{width: 100%;margin: .4rem 0 0;}
    .lt6 .a::before{left: -10px;} 

    .home4 .left{ width: 100%;}
    .home4 .right{width: 100%;margin: .7rem 0 0;}
    .home4 .wp1::before{ display: none;}
    .lt7 h4{ height: auto;}

    .lt11{display: block;white-space: nowrap;overflow: hidden;overflow-x: scroll;padding: .2rem 0 0;font-size: 0;}
    .lt11 li{width: 33.33%;display: inline-block;}

    .home4 .content{ margin: .3rem 0 0}
    .lt11 .txt{ padding: .25rem .15rem 0 .2rem;}
    .home4 .content .left{ width: 36%}
    .home4 .content .right{ width: 64%}

    .lt10 .a{ height: .6rem}
    .lt9 .imgBox{ width: 100%}
    .lt9 .txt{width: 100%;padding: .36rem;}

    .tit2{ margin-bottom: .4rem}
    .tit2 .ll{ font-size: .36rem}

    .home5 .lBox{ height: .75rem}
    .home5 .lBox .box0:nth-child(1){ height: 100%; transition-delay: .25s;}
    .home5 .lBox .box0:nth-child(2){ height: 50%; transition-delay: .36s;}
    .home5 .lBox .box0:nth-child(3){ height: 25%; transition-delay: .4s;}
    .home5 .lBox .box0:nth-child(4){ height: 50%; transition-delay: .5s;}
    .home5 .lBox .box0:nth-child(5){ height: 80%; transition-delay: .2s;}
    .home5 .lBox .box0:nth-child(6){ height: 50%; transition-delay: .5s;}
    .home5 .lBox .box0:nth-child(7){ height: 25%; transition-delay: .15s;}
    .home5 .lBox .box0:nth-child(8){ height: 100%; transition-delay: .4s;}

    .home5 .tit2{ margin-bottom: .2rem}
    .home5 .tit2 .ll{margin: 0 4vw .1rem 0;/* width: 100%; */font-size: .28rem;}
    .home5{padding: .7rem 0 1.5rem;background: url(../images/home5_b.jpg) center top no-repeat;background-size: cover;}

    .home7 .left .top1{ align-items: flex-end}
    .home7 .center{ width: 100%;}
    .home7 .left{ width: 100%;}
    .home7 .right{width: 100%;padding: 0 0 .8vw;/* margin: 0 auto; */}
    .xinmeiti{margin: 0 0 .3rem;width: 100%;}
    .lt15.flex{}
    .lt14 li{margin-bottom: .15rem;padding: 0 .15rem;width: .9rem;}
    .lt14 {flex-direction: row;padding: 0 12%;justify-content: center;width: 100%;margin: .2rem 0 0;}
    .lt14 li .ewm{ width: 140px}
    .lt16 .imgBox .img{padding-bottom: 136%;background: url(../images/lt16_b.jpg) center no-repeat;background-size: cover}
    .lt16 .imgBox .img img{/* opacity: 0; */bottom: auto;/* height: auto; *//* max-height: initial; *//* top: -24vw; */}
    .lt16 .txt{padding: 0;display: flex;align-items: center;justify-content: center;height: 100%;}
    .lt16 .tit2{ margin-bottom: 0}

    .home8{padding-top: 0;padding-bottom: .8rem;}
    .lt3 .a{ padding: ;}

    .lt13W{ margin: 0 -50%;}
    .lt13Box .dots1{ margin: .4rem 0 0;}
    .lBox .box0{border-right: #f9f7f1 1px solid;}

    .jindu{ width: 2rem}
    .gengduo{font-size: .22rem;width: 1.1rem;height: 0.6rem;}

    .lt8 p{-webkit-line-clamp: 2;}
    .lt7 .imgBox{ width: 3.4rem;}

    .lt2s{ height: 1.4rem}
}
}
@media (max-width:597px){
    .kuaijie ul h4{ writing-mode: inherit; width: .4rem; font-size: .2rem;}
}